* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#canvas1 {
  border: solid 5px rgb(23, 22, 22);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #509aef;
  max-width: 100%;
  max-height: 100%;
}

#layer1,
#layer2,
#layer3,
#layer4,
#player,
#angler1,
#angler2,
#lucky,
#projectile {
  display: none;
}
